{% extends "layouts/_default.twig" %} 

{% block main_content %}
<div class="mt-5">
<h1>Quizzes</h1>
<ul class="list-group my-3">
  {% for quiz in quizzes %}
  <li class="list-group-item d-inline-block" style="background-color: #B6B6B4;">
    <p class="h2">{{ quiz.name }}</p>
    {% if quiz.weight %} <p class="small">Weight: {{ quiz.weight }}%</p> {% endif %} 
    <a class="btn btn-primary" href="/quizzes/{{ quiz.id }}/edit">Edit</a>    
    <a class="btn btn-primary" href="/quizzes/{{ quiz.id }}">Details</a>
    <a class="btn btn-danger" href="/quizzes/{{ quiz.id }}/delete">Delete</a>
  </li>
  {% endfor %}
</ul>

  <a class="btn btn-primary" href="/quizzes/new">Create a Quiz</a>
  <a class="btn btn-primary" href="/">Return Home</a>
</div>

{% endblock %}